<h1>{{title}} <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/">Wizard</a>
  <a href="/domain">Add Domain</a>
  <a href="#">Add FO</a>
  <a href="#">Add Static Data</a>
  <a href="/location">Add Location</a>
  <a href="#">Upload CIs</a>
</div>
<!-- Use any element to open the sidenav -->
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span></h1>
<body>
  <div class="content">
    <!-- Multistep Form -->
    <div class="main">
      <form action="/domain" method="post">
      <fieldset id="first">
        <h2 class="title">Customer Domain</h2>
        <p class="subtitle"></p>
        <div class="boxinput">
          <select name="instances">
            <option value="" disabled selected>Select SNOW Instance</option>
            <option value="GlobalDev">GlobalDev</option>
            <option value="GlobalInt">GlobalInt</option>
            <option value="GlobalCat">GlobalCat</option>
            <option value="GlobalProd">GlobalProd</option>
          </select>
        </div>
        <div class="boxinput">
          <input type="text" id="domcust" name="cust_domain" placeholder="Enter Customer Domain...">
        </div>
        <div class="boxinput">
          <select name="parent_domain" id="sel">
            <option value="" disabled selected>Select Parent Domain</option>
          </select>
          <p id="msg"></p>
        </div>
        <div class="boxinput">
          <select name="domtype">
            <option value="" disabled selected>Select Domain Type</option>
            <option value="NONE">--NONE--</option>
            <option value="MSP">MSP</option>
            <option value="Vendor">Vendor</option>
            <option value="Customer">Customer</option>
          </select>
        </div>
        <div>
          Is this Primary? True <input type="radio" name="domprimary" value="True"> False <input type="radio" name="domprimary"
            value="False">
        </div>
        <div class="boxinput">
          <input type="text" id="domdes" name="domain_description" placeholder="Description of Domain..."></textarea>
        </div><br>
        <div class="button">
          <button type="submit">Add Domain</button>
        </div>
      </fieldset>
      </form>
    </div>
  </div>
</body>
