<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta content="noindex, nofollow" name="robots">
  <!-- Including CSS File Here -->
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <!-- Including JS File Here -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA=" crossorigin="anonymous"></script>
  <script src="javascripts/multiform.js"></script>
</head>
  <body>
    {{{body}}}
  </body>
</html>


